<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>ZIPF</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
		<link rel="stylesheet" type="text/css" href="/static/normalize.css">
		<link rel="stylesheet" type="text/css" href="/static/foundation.min.css">
		<link rel="stylesheet" type="text/css" href="/static/zipf.css">
	</head>
	<body id="home">
		<div class="row">
			<h3>ZIPF</h3>
        	<div class="large-12 columns">
        		<p class="text-justify">
				Zipf's law states that given some corpus of natural language utterances, the frequency of any word is inversely proportional to its rank in the frequency table. Thus the most frequent word will occur approximately twice as often as the second most frequent word, three times as often as the third most frequent word, etc.
				<ul>
					<li><a href="https://en.wikipedia.org/wiki/Zipf%27s_law">Zipf's law on Wikipedia</a></li>
					<li><a href="https://www.youtube.com/watch?v=fCn8zs912OE">Zips's law by Vsauce</a></li>
				</ul>
				</p>
        	</div>
        	<hr/>
      	</div>
		<div class="row">
			<h3>EXAMPLES</h3>
        	<div class="large-4 columns">
        		<a href="/result/angular/angular.js/function%3D17426%26the%3D14434%26expect%3D11679%26var%3D10671%26https%3D8065%26if%3D7733%26to%3D7189%26return%3D6180%26it%3D5908%26should%3D5020%26mm%3D5002%26is%3D4611%26for%3D4482%26version%3D4305%26in%3D4119%26and%3D3630%26element%3D3493%26of%3D3454%26ss%3D3027%26from%3D3013%26sep%3D2943%26value%3D2906%26name%3D2652%26plural%3D2540%26opt%3D2328%26true%3D2264%26that%3D2263%26hh%3D2254%26this%3D2246%26mmmm%3D2230%26with%3D2155%26not%3D2140%26be%3D2138%26resolved%3D2119%26inject%3D2104%26obj%3D2047%26when%3D2043%26one%3D2028%26use%3D2018%26number%3D1898%26other%3D1885%26pattern%3D1881%26precision%3D1863%26endobj%3D1827%26currency%3D1791%26an%3D1790%26two%3D1747%26on%3D1698%26decimal%3D1658%26as%3D1603">
          			<img src="/static/angular.png"/>
          			<h4 class="text-center">angular.js</h4>
          		</a>
        	</div>
        	<div class="large-4 columns">
        		<a href="/result/elastic/elasticsearch/the%3D88647%26import%3D48605%26public%3D41220%26to%3D36068%26new%3D32698%26return%3D27737%26for%3D27197%26of%3D27165%26if%3D26911%26or%3D26357%26license%3D22949%26in%3D22737%26assertthat%3D22726%26this%3D22346%26is%3D22022%26string%3D18473%26under%3D18225%26index%3D17457%26final%3D17421%26and%3D16683%26you%3D16402%26equalto%3D16223%26file%3D15458%26with%3D14547%26void%3D14482%26static%3D13589%26int%3D13383%26distributed%3D13003%26test%3D12024%26private%3D11764%26throws%3D11253%26not%3D10863%26type%3D10829%26null%3D10399%26may%3D9904%26on%3D9788%26elasticsearch%3D9591%26see%3D9499%26as%3D9366%26be%3D9273%26client%3D9255%26by%3D9050%26version%3D8404%26an%3D8218%26any%3D7857%26field%3D7641%26that%3D7641%26name%3D7068%26use%3D7047%26value%3D6976">
          			<img src="/static/elastic.png"/>
          			<h4 class="text-center">elasticsearch</h4>
          		</a>
        	</div>
        	<div class="large-4 columns">
        		<a href="/result/rails/rails/end%3D48134%26assert%3D30145%26the%3D28068%26def%3D23813%26to%3D19568%26equal%3D16721%26test%3D16361%26do%3D13379%26name%3D12251%26value%3D12206%26with%3D11539%26for%3D9741%26of%3D9416%26in%3D9068%26if%3D8921%26and%3D8679%26class%3D8576%26is%3D8524%26id%3D7337%26you%3D5599%26be%3D5316%26this%3D5143%26on%3D5124%26not%3D4923%26type%3D4717%26activerecord%3D4469%26require%3D4463%26path%3D4412%26method%3D4323%26that%3D4199%26options%3D4188%26get%3D4167%26as%3D4084%26table%3D3871%26true%3D3776%26action%3D3712%26an%3D3573%26by%3D3531%26rails%3D3446%26key%3D3416%26from%3D3414%26can%3D3410%26or%3D3342%26file%3D3335%26default%3D3325%26nil%3D3288%26will%3D3225%26it%3D3120%26new%3D3030%26are%3D3001">
          			<img src="/static/rails.png"/>
          			<h4 class="text-center">rails</h4>
          		</a>
        	</div>
        	<hr/>
        </div>
		<div class="row">
			<h3>TRY IT YOURSELF</h3>
			<div class="large-12 columns">
				<p>
					Enter a GitHub repository to analyze its <em>Zipfness</em>.
					<form method="POST" action="{{ url_for('zipf') }}">
						<div class="row">
        					<div class="small-3 columns">
          						<label class="inline">https://github.com/</label>
        					</div>
        					<div class="small-3 columns">
        	  					<input type="text" name="orga" placeholder="paristote">
        	  				</div>
        	  				<div class="small-1 columns">
        	  					<label class="inline text-center">/</label>
        	  				</div>
        	  				<div class="small-3 columns">
        	  					<input type="text" name="repo" placeholder="youcast-android">
        					</div>
        					<div class="small-1 columns">
        	  					<label class="inline">.git</label>
        	  				</div>
      					</div>
						{% if error=='10' or error=='11' %}
						<div class="row">
							<small class="error">Please enter a valid GitHub organization and repository</small>
						</div>
						{% endif %}
						<br/>
						<button type="submit">ZIPF IT</button>
					</form>
				</p>
			</div>
		</div>
	</body>
</html>